@{
    ViewData["Title"] = "Redes";
    Layout = null;
}

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/Panel.css" />
</head>

<body>
    <button class="sidebar-toggle" id="sidebarToggle">
        <i class="fas fa-bars"></i>
    </button>

    <div class="wrapper">
        <!-- Sidebar -->
        <nav id="sidebar" class="sidebar">
            <div class="sidebar-header">
                <h2>JAM BITES</h2>
            </div>

            <ul class="nav flex-column">
                <li class="nav-item">
                    <a href="~/Admin/Panel" class="nav-link">
                        <i class="fas fa-home"></i>
                        <span>Panel Inicial</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="~/Admin/ListPedido" class="nav-link">
                        <i class="fas fa-shopping-bag"></i>
                        <span>Pedidos</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="~/Admin/ListMenu" class="nav-link">
                        <i class="fas fa-hamburger"></i>
                        <span>Menú</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="~/Admin/ListCuenta" class="nav-link">
                        <i class="fas fa-users"></i>
                        <span>Clientes</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="~/Admin/ListContacto" class="nav-link">
                        <i class="fas fa-chart-line"></i>
                        <span>Contactos</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="~/Admin/Redes" class="nav-link active">
                        <i class="fas fa-chart-line"></i>
                        <span>Redes</span>
                    </a>
                </li>
            </ul>

            <div class="sidebar-footer">
                <div class="user-info">
                    <div class="user-details">
                        <a href="~/Admin/Index" style="color:black">
                            <span class="mb-0">Salir </span>
                            <i class="fas fa-chevron-down"></i>
                        </a>
                    </div>
                </div>
            </div>
        </nav>

        <!-- Contenido Principal -->
        <div id="content" class="content">
            <div class="seccion-contenido">
                <div class="card text-bg-dark">
                    <img src="https://espanol.kingsford.com/wp-content/uploads/2017/02/KFD_SpicyBBQBaconRanchBurger35382_WEB.jpg"
                        class="card-img" alt="..." style="height: 300px; object-fit: cover;">
                    <div class="card-img-overlay">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                        <p class="card-text"><small>Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div><br>

            <div class="seccion-contenido">
                <div class="card-group">
                    <div class="card" style="width: 18rem;">
                        <img src="https://fotografias.lasexta.com/clipping/cmsimages01/2022/09/01/1659874E-6861-4011-B4E9-A65AAD2F47BA/como-evitar-que-instagram-siga-haciendote-recomendaciones_104.jpg?crop=750,750,x276,y0&width=1200&height=1200&optimize=low&format=webply" class="card-img-top" alt="..."
                            style="width: 80px; height: 200px; object-fit: cover;">
                        <div class="card-body">
                            <h5 class="card-title">Instagram</h5>
                            <p class="card-text">Ve como va nuestra red social de Instagram</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                    <div class="card me-2" style="width: 18rem;">
                        <img src="https://arteflame.com/cdn/shop/articles/juicy_hamburger_dripping_with_juice.webp?v=1717089058&width=1600" class="card-img-top" alt="..."
                            style="width: 80px; height: 200px; object-fit: cover;">
                        <div class="card-body">
                            <h5 class="card-title">Sitio Web</h5>
                            <p class="card-text">Verificiac como se ve getElementById Sitio webp?v de JAM BITES</p>
                            <a href="/Home/Index" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <img src="https://zoomph.com/wp-content/uploads/2023/10/alexander-shatov-I4p0FcjDBJI-unsplash-scaled.jpg" class="card-img-top" alt="..." style="height: 200px; object-fit: cover;">
                        <div class="card-body">
                            <h5 class="card-title">TiKTok</h5>
                            <p class="card-text">Ve como va nuestra red social de Tiktok</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        document.getElementById('sidebarToggle').addEventListener('click', function () {
            document.getElementById('sidebar').classList.toggle('active');
            document.getElementById('content').classList.toggle('active');
        });
    </script>
</body>

</html>