@{
    ViewData["Title"] = "Condiciones del Juego JAM BITES";
}

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Condiciones del Juego JAM BITES</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <h1 class="text-center">Condiciones del Juego JAM BITES</h1><br>
        <div class="row">
            <div class="col-sm-6 mb-3 mb-sm-0">
                <div class="card mb-3" style="max-width: 700px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="~/img/tablero.png" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">¿Cómo jugar?</h5>
                                <p class="card-text">¡Es muy sencillo! Solo debes alinear tres símbolos iguales (X o O)
                                    en línea
                                    recta, ya sea horizontal,
                                    vertical o diagonal. ¡El primero en lograrlo gana!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">¡Tus recompensas te esperan!</h5>
                        <p class="card-text">Al ganar una partida, obtendrás un código único que podrás canjear por un
                            delicioso descuento en tu
                            próxima compra.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Descuento del 10% en tu pedido.</li>
                        <li class="list-group-item">Válido por un mes a partir de su generación.</li>
                        <li class="list-group-item">Mínimo de compra: s/. 15.00</li>
                    </ul>
                </div>
            </div>
        </div>

        <br>
        <div class="row">
            <div class="col-md-12">
                <h2 style="color: #d62027;">Términos y condiciones</h2>
                <ul class="list-group">
                    <li class="list-group-item">Un código por persona y por día.</li>
                    <li class="list-group-item">Los códigos no son transferibles ni canjeables por efectivo.</li>
                    <li class="list-group-item">JAM BITES se reserva el derecho de modificar estas condiciones en
                        cualquier momento.</li>
                    <li class="list-group-item">En caso de cualquier disputa, la decisión de JAM BITES será final.</li>
                </ul>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>